<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body style="background-color: #FFE6B6">
    <br/>
    <div class="row">
      <h1 class="text-center"><strong>Coming Soon<strong></h1>
    </div>
    <div class="row">
      <div class="small-4 small-centered medium-3 columns">
        <img src="images/logo.png" width="100%">
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-centered columns">
        <p class="text-center">Kami ingin membantu untuk mewujudkan impian kamu membuat robot maupun teknologi lainnya. Di Wafer Institute, kamu akan belajar dasar-dasar elektronika dimulai dari proyek-proyek yang sederhana. Setelah menyelesaikan program kami, siswa diharapkan mampu untuk membuat produk-produk elektronik sederhana dan memiliki dasar yang cukup untuk belajar lebih dalam di jenjang perguruan tinggi atau melakukan riset bersama kami.</p>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="small-8 small-centered medium-4 columns">
          <input type="text" placeholder="your@email.com" style="border-radius: 10px" />
          <div class="small-12 large-9 large-centered columns">
            <a href="#" class="button radius small-12" style="border-radius: 10px; line-height: 1rem">Dapatkan Update</a>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
