<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body style="background-color: #FFE6B6">
    <br/>
    <div class="row">
      <h1 class="text-center"><strong>Coming Soon<strong></h1>
    </div>
    <div class="row">
      <div class="small-4 small-centered medium-3 columns">
        <img src="images/logo.png" width="100%">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-10 small-centered columns">
        <p class="text-center">Kami ingin membantu mewujudkan impian siswa membuat robot sendiri. Siswa akan belajar dasar-dasar elektronika melalui proyek-proyek sederhana. Setelah menyelesaikan program kami, siswa diharapkan mampu membuat robot atau produk elektronik sederhana lainnya. Sehingga siswa memiliki dasar yang cukup untuk belajar lebih dalam di jenjang yang lebih tinggi atau melakukan riset di lab kami.</p>
        <p class="text-center"><strong>Info detail</strong><br>085719457523</p>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
